src/main/resources/xsd/person.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="src/main/java/com/boot/rest/jaxb/model">
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:nonNegativeInteger" name="age"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>